<section class="signUp">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h4 class="text-center my-4">Sign Up</h4>
      <h5 class="card-title capitalize">Create an account now, before sign up is over.</h5>
      <p class="card-text">Our last longer stops taking entries one day before the NFL season begins.  Sign up now to get started and get in on the action!</p>
      <a class="mx-auto btn btn-warning" href="/users/register" class="btn btn-warning btn-block mb-2">Register</a>
      </div>
    </div>
  </div>
</section>

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">NFL Last Longer is the first and only entirely cryptocurrency survivor league style pool for the National Football League. Each week the objective is to pick one NFL team to win, no Vegas points spread, and you cannot pick the same team more than once through out the season. We take pride in being innovators in this field by supporting cryptocurrency EXCLUSIVELY.  NFL Last Longer is in no way shape or form associated with the NFL.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="/">Home</a></li>
          <li><a href="/users/register">Register</a></li>
          <li><a href="/users/login">Log In</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>NFL Last Longer</h6>
        <img src="/images/logo.png" alt="" height="124px">
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by <a href="/">NFLLASTLONGER.COM</a></p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        
      </div>
    </div>
  </div>
</footer>