<section class="signUp">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h4 class="text-center my-4">Sign Up</h4>
      <h5 class="card-title capitalize">Create an account now, before sign up is over.</h5>
      <p class="card-text">Our last longer stops taking entries one day before the NFL season begins.  Sign up now to get started and get in on the action!</p>
      <a class="mx-auto btn btn-warning" href="/users/register" class="btn btn-warning btn-block mb-2">Register</a>
      </div>
    </div>
  </div>
</section>

<section id="footer">
  <div class="row mr-0">
    <!-- <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
      <ul class="list-unstyled list-inline social text-center">
        <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-facebook"></i></a></li>
        <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-instagram"></i></a></li>
        <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-google-plus"></i></a></li>
        <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02" target="_blank"><i class="fa fa-envelope"></i></a></li>
      </ul>
    </div> -->
    <hr>
  </div>	
  <div class="row mr-0">
    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
      <p><u>nfllastlonger.com</u> is in no way, shape, or form affiliated with the National Football League</p>
      <p class="h6 pb-5">© All rights reserved nfllastlonger.com</p>
    </div>
    <hr>
  </div>	
</section>