<%- include('partials/header'); %>

<div class="d-flex justify-content-center h-100">
  <div class="welcome_card">
    <div class="card-body">
      <h1> <img height="120px" src="/images/nflLogo.png" alt=""></h1>
        <h3 class="whiteText">Last Longer</h3>
        <p class="whiteText">Create an account or login</p>
        <a href="/api/users/register" class="btn btn-success btn-block mb-2">Register</a>
        <a href="/api/users/login" class="btn btn-primary btn-block">Login</a>
    </div>
  </div>
</div>