<%- include('partials/header'); %>
<div class="jumbotron">
  <h1 class="text-center" style="font-size: 32px;">Welcome To Nfllastlonger.com</h1>
  <p class="lead text-center">The number one NFL survivor league pool</p>
  <hr class="my-4">
  <h3 class="text-center mb-4" style="font-size: 18px;">Accepted payment methods</h3>
  <div class="d-flex justify-content-center mb-5">
      <img class="crypto-logo" src="/images/bitcoinLogo.png" alt="">
      <img class="crypto-logo" src="/images/ethereumLogo.png" alt="">
      <img class="crypto-logo" src="/images/litecoinLogo.png" alt="">
      <img class="crypto-logo" src="/images/rippleLogo.png" alt="">
      <img class="crypto-logo" src="/images/stellarLumensLogo.png" alt="">
  </div>
  <div class="d-flex justify-content-center h-100">
    <div class="welcome_card">
      <div class="card-body">
        <h1> <img height="120px" src="/images/nflLogo.png" alt=""></h1>
          <h3 class="whiteText">Last Longer</h3>
          <p class="whiteText">Create an account or login</p>
          <a href="/api/users/register" class="btn btn-success btn-block mb-2">Register</a>
          <a href="/api/users/login" class="btn btn-primary btn-block">Login</a>
      </div>
    </div>
  </div>
</div>



