
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@300&display=swap');

body {
  padding: 12px;
  padding-top: 0px !important;
  font: 14px 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', serif;
}

.capitalize {
  text-transform: capitalize;
}

.btn-list > .btn {
  width: 104px !important;
  border-radius: 0%;
}

a {
  color: #00B7FF;
}

html,body{
  height: 100%;
}

.container{
height: 100%;
align-content: center;
}

hr  {
  max-width: 720px;
  min-width: 220px;
}

.login_card, .register_card {
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-image: url('../images/wallpaper.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.45);
}
  
.welcome_card {
  height: 370px;
  width: 400px;
  background-image: url('../images/bigTruss.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.45);
}

.login_card {
  height: 370px;
}

.register_card {
 height: 512px;
}

.card-header h3{
color: white;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

.form-group label {
  color: #fff !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

tr {
  border-bottom: 1px solid #282828;
}

td {
  border-top: none !important;
}

hr {
  background: #f2f2f2;
}

td.bullet-loss {
  color: red;
}

td.bullet-loss ~ td {
  display: none;
}

.whiteText {
  color: #fff !important;
}

.jumbotron {
  background: #060606;
  margin-top: 0px;
  margin-bottom: 0px;
}

.oneTimeAlert .swal-title{
  content: url('../images/JustinJefferson.gif');
  height: 240px;
}

.swal-text {
  text-align: left !important;
}

.crypto-logo {
  height: 50px;
  width: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.crypto-logo-sm {
  height: 34px;
  width: 34px;
  margin-left: 20px;
  margin-right: 20px;
}

.accent {
  color: green
}

.main-nav a {
  font-size: 17px;
}

nav { color: #282828 !important; }

.gif, 
.embed {
  padding: 0px !important;
  margin: 0px !important;
}

/* SWAL Modal And Erros Styles */
.swal-modal {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.swal-title, .swal-text {
  color: #fafafa;
}

/* Text */
.glow-on-hover {
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #d97400; /* actual button bachround col0r */
  left: 0;
  top: 0;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


/* flicker title */

@-webkit-keyframes text-flicker-in-glow{0%{opacity:0}10%{opacity:0;text-shadow:none}10.1%{opacity:1;text-shadow:none}10.2%{opacity:0;text-shadow:none}20%{opacity:0;text-shadow:none}20.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.25)}20.6%{opacity:0;text-shadow:none}30%{opacity:0;text-shadow:none}30.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.5%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.6%{opacity:0;text-shadow:none}45%{opacity:0;text-shadow:none}45.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}50%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55.1%{opacity:0;text-shadow:none}57%{opacity:0;text-shadow:none}57.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60.1%{opacity:0;text-shadow:none}65%{opacity:0;text-shadow:none}65.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75.1%{opacity:0;text-shadow:none}77%{opacity:0;text-shadow:none}77.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85.1%{opacity:0;text-shadow:none}86%{opacity:0;text-shadow:none}86.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}100%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}}@keyframes text-flicker-in-glow{0%{opacity:0}10%{opacity:0;text-shadow:none}10.1%{opacity:1;text-shadow:none}10.2%{opacity:0;text-shadow:none}20%{opacity:0;text-shadow:none}20.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.25)}20.6%{opacity:0;text-shadow:none}30%{opacity:0;text-shadow:none}30.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.5%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.6%{opacity:0;text-shadow:none}45%{opacity:0;text-shadow:none}45.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}50%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55.1%{opacity:0;text-shadow:none}57%{opacity:0;text-shadow:none}57.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60.1%{opacity:0;text-shadow:none}65%{opacity:0;text-shadow:none}65.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75.1%{opacity:0;text-shadow:none}77%{opacity:0;text-shadow:none}77.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85.1%{opacity:0;text-shadow:none}86%{opacity:0;text-shadow:none}86.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}100%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}}

.retro-glow {
  font-weight: 300;
  font-size: 19px;
  text-align: center;
  font-family: 'Monoton', cursive;
  font-size: 16px;
  padding-top: 9px;
}

/* Front End Error Handling */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
/*****************************/
/* MESSAGE BOX RELATED CLASS */
/*          (START)          */
/*****************************/
.msgbox-area {
max-height: 100%;
position: fixed;
bottom: 15px;
left: 20px;
right: 20px;
}
.msgbox-area .msgbox-box {
font-size: inherit;
color: #ffffff;
background-color: rgba(0, 0, 0, 0.8);
padding: 18px 20px;
margin: 0 0 15px;
display: flex;
align-items: center;
position: relative;
border-radius: 12px;
box-shadow: 0 10px 15px rgba(0, 0, 0, 0.65);
transition: opacity 300ms ease-in;
}
.msgbox-area .msgbox-box.msgbox-box-hide {
opacity: 0;
}
.msgbox-area .msgbox-box:last-child {
margin: 0;
}
.msgbox-area .msgbox-content {
flex-shrink: 1;
}
.msgbox-area .msgbox-close {
color: #ffffff;
font-weight: bold;
text-decoration: none;
margin: 0 0 0 20px;
flex-grow: 0;
flex-shrink: 0;
position: relative;
transition: text-shadow 225ms ease-out;
}
.msgbox-area .msgbox-close:hover {
text-shadow: 0 0 3px #efefef;
}

@media (min-width: 481px) and (max-width: 767px) {
.msgbox-area {
left: 80px;
right: 80px;
}
}
@media (min-width: 768px) {
.msgbox-area {
width: 480px;
height: 0;
top: 15px;
left: auto;
right: 15px;
}
}
/*****************************/
/* MESSAGE BOX RELATED CLASS */
/*           (END)           */
/*****************************/

.msgbox-area {
font-size: 16px;
}

.msgbox-message-container {
text-align: center;
width: 100vw;
height: 100vh;
padding: 20px;
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.msgbox-message-container h1, .msgbox-message-container h3 {
margin: 10px 20px;
}
.msgbox-message-container p {
margin: 5px 20px;
}

.msgbox-message-button {
font-size: 18px;
font-weight: bold;
font-family: inherit;
color: white;
background-color: #1476ff;
width: 250px;
border: solid 2px #005de0;
padding: 10px 20px;
cursor: pointer;
outline: none;
box-shadow: 0 5px #005de0;
transition: background-color 100ms ease-out, box-shadow 100ms ease-out, transform 100ms ease-out;
}
.msgbox-message-button:hover, .msgbox-message-button:focus, .msgbox-message-button:active {
background-color: #2e85ff;
}
.msgbox-message-button:active {
background-color: #0068fa;
box-shadow: 0 0 #005de0;
transform: translateY(5px);
}



#footer {
  background: #282828 !important;
  margin-top: 60vh;
}

#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
font-size:25px;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}

#footer ul.social li:hover a i {
font-size:30px;
margin-top:-10px;
}

#footer ul.social li a,
#footer ul.quick-links li a{
color:#ffffff;
}
#footer ul.social li a:hover{
color:#eeeeee;
}

@media (max-width:767px){
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }

  .crypto-logo, .crypto-logo-sm {
    margin-left: 10px;
    margin-right: 10px;
  }

}




