@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@300&display=swap');

:root {
  --chat-height: 100vh;
  --chat-width: 100%;
  --chat-color-background: #18181b;
  --chat-color-alt: #3a3a3d;
  --chat-color-alt-2: #57575a;
  --text-color: #f2f2f2;
  --message-color-alt: #1f1925;
  --twitch-color-main: #fd7e14;
  --twitch-color-alt: #772ce8;
  --menu-height: 25rem;
}


body {
  padding-top: 0px !important;
  font: 14px 'Roboto', sans-serif;
  margin-top: 102px;
}

.navbar{
	padding: 15px 10px;
	background: #f2f2f2;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.navbar-btn{
	box-shadow: none;
	outline: none!important;
	border: none;
}

.line{
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  color: #f2f2f2;
  transition: all 0.3s;
  height: 100vh;
  margin-top: -104px;
  margin-left: -250px;
  padding-top: 104px;
  position: sticky;
  top: 0;
}

#sidebar.active{
	margin-left: 0;
}

.buttonHeader {
  padding-top: 20px;
  margin: 0 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', serif;
}

.capitalize {
  text-transform: capitalize;
}

.orange {
  color: #d97400 !important;
}

.btn-list > .btn {
  width: 104px !important;
  border-radius: 0%;
}

a {
  color: #00B7FF;
}

html,body{
  height: 100%;
}

hr  {
  max-width: 720px;
  min-width: 220px;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}



header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 1;
}

.videoContainer {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.mainLogo {
  height: 70px !important;
}

.masthead .btn {
  min-width: 200px;
  max-width:500px;
  margin: auto;
}

.masthead h1 {
  font-size: 52px;
  text-shadow: 2px 2px 5px #000;
}

.masthead p {
  font-size: 24px;
  text-shadow: 2px 2px 5px #000;
}

.logoBanner {
  padding-top: 12px;
  padding-bottom: 12px;
  overflow: auto;
  white-space: nowrap;
}

.logoBanner img {
  display: inline-block;
}

.nflLogo {
  height: 50px;
  width: 50px;
  margin-left: 12px;
  margin-right: 12px;
}

.signUp {
  background: url(../images/billsStadium.jpg) center / cover no-repeat;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.45);
  margin-top: 122px;
  padding-bottom: 24px;
}

.threeStepProcess .card{
  background: #060606;
  border: 1px solid #282828;
  margin-bottom: 12px;
}

.registerContainer, .loginContainer {
  height: 100%;
  align-content: center;
}

.login_card, .register_card {
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-image: url('../images/wallpaper.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.45);
}
  
.welcome_card {
  height: 370px;
  width: 400px;
  background-image: url('../images/bigTruss.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.45);
}

.login_card, .register_card {
  padding-top: 6px;
  padding-bottom: 6px;
}

.card-header h3{
color: white;
}

.signUpCard, .makePicksCard, .advanceCard {
  box-shadow:inset 0 0 0 2000px rgba(253, 126, 20, 0.10);
}

.signUpCard {
  background: url(../images/football-3-356x179.jpg) center / cover no-repeat !important;
}

.makePicksCard {
  background: url(../images/football-2-356x179.jpg) center / cover no-repeat !important;
}

.advanceCard {
  background: url(../images/football-1-356x179.jpg) center / cover no-repeat !important;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

.form-group label {
  color: #f2f2f2 !important;
}

input:focus{
  box-shadow: 0 0 0 0 !important;
}

.card .fas {
  margin-bottom: 12px;
}

.remember{
color: white;
}

.remember input{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.links{
color: white;
}

.discordLink {
  color: #7289da;
}

.links a{
margin-left: 4px;
}

tr {
  border-bottom: 1px solid #282828;
}

td {
  border-top: none !important;
}

hr {
  background: #f2f2f2;
}

td.bullet-loss {
  color: red;
}

td.bullet-loss ~ td {
  display: none;
}

.whiteText {
  color: #f2f2f2 !important;
}

.jumbotron {
  background: #060606;
  margin-top: 0px;
  margin-bottom: 0px;
}

.crypto-logo-sm {
  height: 34px;
  width: 34px;
  margin-left: 20px;
  margin-right: 20px;
}

.accent {
  color: green
}

.logoBig{
  padding: 24px;
}

.navbar-brand img {
  height: 62px;
  margin: 6px;
}

.main-nav {
  padding-top: 50px;
}

.main-nav a {
  font-size: 17px;
}

nav { 
  color: #282828 !important; 
}

.gif, 
.embed {
  padding: 0px !important;
  margin: 0px !important;
}

.form-check {
  padding-bottom: 24px;
  margin: 0 auto;
}

.center-container {
  display: flex;
  justify-content: center;
}

.center-container .form-check-label {
  padding-right: 12px;
}

#rulesModal li {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* SWAL Modal And Erros Styles */
.swal-modal {
  background: #232526;
  border: 1px solid #f2f2f2;
}

.swal-title, .swal-text {
  color: #fafafa;
}

.swal-text {
  text-align: left !important;
}

.oneTimeAlert .swal-title{
  margin: 12px auto;
  content: url('../images/justinJefferson.gif');
  height: 240px;
}


.circle {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%; 
  text-align: center;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 40px;
}

.rulesAd .col-md-4 p {
  font-size: 18px;
  font-weight: 500;
}

/* Text */
.glow-on-hover {
  border: none;
  outline: none;
  color: #f2f2f2;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #f2f2f2, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #d97400; /* actual button bachround col0r */
  left: 0;
  top: 0;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


/*****************************/
/* MESSAGE BOX RELATED CLASS */
/*          (START)          */
/*****************************/
.msgbox-area {
max-height: 100%;
position: fixed;
bottom: 15px;
left: 20px;
right: 20px;
}
.msgbox-area .msgbox-box {
font-size: inherit;
color: #f2f2f2;
background-color: rgba(0, 0, 0, 0.8);
padding: 18px 20px;
margin: 0 0 15px;
display: flex;
align-items: center;
position: relative;
border-radius: 12px;
box-shadow: 0 10px 15px rgba(0, 0, 0, 0.65);
transition: opacity 300ms ease-in;
}
.msgbox-area .msgbox-box.msgbox-box-hide {
opacity: 0;
}
.msgbox-area .msgbox-box:last-child {
margin: 0;
}
.msgbox-area .msgbox-content {
flex-shrink: 1;
}
.msgbox-area .msgbox-close {
color: #f2f2f2;
font-weight: bold;
text-decoration: none;
margin: 0 0 0 20px;
flex-grow: 0;
flex-shrink: 0;
position: relative;
transition: text-shadow 225ms ease-out;
}
.msgbox-area .msgbox-close:hover {
text-shadow: 0 0 3px #efefef;
}

@media (min-width: 481px) and (max-width: 767px) {
.msgbox-area {
left: 80px;
right: 80px;
}
}
@media (min-width: 768px) {
.msgbox-area {
width: 480px;
height: 0;
top: 15px;
left: auto;
right: 15px;
}
}
/*****************************/
/* MESSAGE BOX RELATED CLASS */
/*           (END)           */
/*****************************/

.msgbox-area {
font-size: 16px;
}

.msgbox-message-container {
text-align: center;
width: 100vw;
height: 100vh;
padding: 20px;
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.msgbox-message-container h1, .msgbox-message-container h3 {
margin: 10px 20px;
}
.msgbox-message-container p {
margin: 5px 20px;
}

.msgbox-message-button {
font-size: 18px;
font-weight: bold;
font-family: inherit;
color: white;
background-color: #1476ff;
width: 250px;
border: solid 2px #005de0;
padding: 10px 20px;
cursor: pointer;
outline: none;
box-shadow: 0 5px #005de0;
transition: background-color 100ms ease-out, box-shadow 100ms ease-out, transform 100ms ease-out;
}
.msgbox-message-button:hover, .msgbox-message-button:focus, .msgbox-message-button:active {
background-color: #2e85ff;
}
.msgbox-message-button:active {
background-color: #0068fa;
box-shadow: 0 0 #005de0;
transform: translateY(5px);
}


.site-footer {
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr {
  border-top-color:#bbb;
  opacity:0.5
}

.site-footer hr.small {
  margin:20px 0
}

.site-footer h6 {
  color:#f2f2f2;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}

@media (max-width:767px){
  body {
    margin-top: 52px;
  }

  .masthead h1 {
    font-size: 24px;
  }

  .crypto-logo, .crypto-logo-sm {
    margin-left: 10px;
    margin-right: 10px;
  }

  .nflLogo {
    height: 35px;
    width: 35px;
    margin-left: 12px;
    margin-right: 12px;
  }

  header {
    height: 100vh;
  }

  #sidebar {
    margin-top: -50px;
    padding-top: 50px;
    margin-left: -250px;
    background-color: var(--chat-color-background);
  }
  
  #sidebar.active{
    margin-left: 0;
  }

  .site-footer {
    padding-bottom:0
  }
  
  .site-footer .copyright-text,.site-footer .social-icons {
    text-align:center
  } 
}

.chat {
  height: 100vh;
  margin-top: -104px;
  padding-top: 104px;
  padding-bottom: 1rem;
  width: var(--chat-width);
  background-color: var(--chat-color-background);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.chatRules p {
  padding: 1rem;
  font-size: .8rem;
  margin-bottom: 0;
}

.header {
  flex: 0 0 5%;
  border-bottom: 1px solid var(--chat-color-alt);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding-top: 2rem;
}

.header p {
  font-size: 1.2rem;
  padding-left: 66px;
}

.messages {
  flex: 0 0 63%;
  padding: 1rem;
  overflow-y: scroll;
}

.messages .message-container {
  margin-bottom: 1rem;
}

.messages .message-container .message-user {
  font-size: 1rem;
  font-weight: 600;
  margin-right: 1rem;
}

.messages .message-container .message-user:after {
  content: ':';
}

.messages .message-container .message-text {
  font-size: 1rem;
}

.messages .message-container .message-text img {
  margin-right: 1rem;
}

.messages .message-container:nth-child(even) {
  background-color: var(--message-color-alt);
}

.actions {
  flex: 0 0 15%;
  background-color: var(--actions-color-background);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem 1rem;
  position: relative;
}

.actions-form {
  flex: 0 0 100%;
  position: relative;
  margin-bottom: 1rem;
}

.actions-form [type=submit] {
  display: none;
}

.actions-form .input-message {
  resize: none;
  background-color: var(--chat-color-alt);
  border: none;
  border-radius: 0.6rem;
  color: var(--text-color);
  padding: 1.3rem 1rem;
  width: 100%;
}

.actions-form .input-message::placeholder {
  color: var(--text-color);
}

.actions-form .bits-button, .actions-form .emotes-button {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 2rem;
  padding: 0.5rem 0;
  border-radius: 0.4rem;
  transition: all 0.3s ease-out;
}
.actions-form .bits-button i, .actions-form .emotes-button i {
  margin: 0 auto;
}
.actions-form .bits-button:focus, .actions-form .emotes-button:focus, .actions-form .bits-button:hover, .actions-form .emotes-button:hover {
  background-color: var(--chat-color-alt-2);
  color: white;
  cursor: pointer;
}
.actions-form .bits-button {
  right: 5rem;
}
.actions-form .emotes-button {
  padding: 0.5rem 1rem;
}
.actions-rewards {
  border-radius: 0.4rem;
  margin-right: auto;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s ease-in;
}
.actions-rewards i {
  transition: color 0.2s ease-out;
}
.actions-rewards:focus, .actions-rewards:hover {
  background-color: var(--chat-color-alt);
  cursor: pointer;
}
.actions-rewards:focus i, .actions-rewards:hover i {
  color: var(--twitch-color-main);
}
.actions i.actions-setting {
  margin-right: 1rem;
  cursor: pointer;
  transition: color 0.2s ease-out;
}
.actions i.actions-setting:focus, .actions i.actions-setting:hover {
  color: white;
}
.actions-sendMessage {
  background-color: var(--twitch-color-main);
  border: none;
  border-radius: 0.4rem;
  color: white;
  cursor: pointer;
  padding: 14px;
  width: 100%;
  transition: background 0.2s ease-out;
}
.actions-sendMessage:focus, .actions-sendMessage:hover {
  background-color: var(--twitch-color-alt);
}
.actions-rewards, .actions i.actions-setting {
  font-size: 2rem;
  user-select: none;
}
.actions .menu {
  position: absolute;
  top: calc(-1 * var(--menu-height));
  background-color: var(--chat-color-background);
  list-style: none;
  height: var(--menu-height);
  width: calc(100% - 1rem);
  overflow-y: scroll;
  opacity: 0;
}
.actions .menu-active {
  opacity: 1;
}
.actions .emote-list {
  display: none;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  padding: 1rem;
}
.actions .emote-list .emote-item {
  display: flex;
  justify-content: center;
  margin-left: 1%;
  margin-bottom: 2rem;
  flex: 0 0 14%;
}
.actions .emote-list .emote-item img {
  padding: 0.4rem;
  border-radius: 0.4rem;
}
.actions .emote-list .emote-item img:hover {
  background: var(--chat-color-alt);
  cursor: pointer;
}
.actions .rewards-list {
  height: 100%;
  display: none;
  flex-flow: row wrap;
  list-style: none;
}
.actions .rewards-list .rewards-header {
  flex: 0 0 100%;
  font-size: 2.5rem;
  text-align: center;
  padding: 3rem 0 1rem;
  margin-bottom: 2rem;
  border-bottom: 0.2rem solid #060607;
}
.actions .rewards-list .reward-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 4%;
  margin-bottom: 3rem;
  flex: 0 0 28%;
}
.actions .rewards-list .reward-item .reward-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 1rem;
  padding: 1.5rem 2.4rem;
  color: white;
}
.actions .rewards-list .reward-item .reward-button:hover {
  cursor: pointer;
}
.actions .rewards-list .reward-item .reward-icon {
  font-size: 3rem;
}
.actions .rewards-list .reward-item .reward-amount {
  margin-top: 1rem;
  padding: 1rem;
  background: rgba(60, 60, 60, .5);
  border-radius: 0.8rem;
}
.actions .rewards-list .reward-item .reward-message {
  text-align: center;
  font-size: 1.3rem;
}
.actions .emote-list.show, .actions .rewards-list.show {
  display: flex;
}
.scroll-style::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
}
.scroll-style::-webkit-scrollbar {
  background-color: transparent;
  width: 0.75rem;
}
.scroll-style::-webkit-scrollbar-thumb {
  background-color: #07ff68;
  -webkit-box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, .3);
}
.scroll-style {
  scrollbar-color: #07ff68 transparent;
  scrollbar-width: thin;
}


/* 
@media (pointer: coarse) and (hover: none) {
  header {
    background: url('../images/huddle.png') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
} */




